<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Neuron.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E16BB26928E0F25F00ABD2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E16BB27F28E0F26000ABD2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E16BB28928E0F26000ABD2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
