
Neuron.xcodeproj/project.xcworkspace/xcuserdata/alvin.xcuserdatad/IDEFindNavigatorScopes.plist
Test/mainapptest.swift
Test/testContentView.swift
testing/testing.xcdatamodeld/.xccurrentversion
testing/testing.xcdatamodeld/testing.xcdatamodel/contents
